/*Login Page/ Sign up page*/

/* Main Container */
.container {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 400px;
    padding: 80px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

/* Sign up section*/
.signup {
    position: absolute;
    top: 250px;
    right: 10%;
    transform: translateY(-50%);
    width: 300px;
    text-align: center;
}

/* Form Styling */
.form-box {
    display: flex;
    flex-direction: column;
}

/* Input Fields */
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

/* forget password button*/
a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/*Homepage*/

.intro-container {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 60%;
    transform: translateX(-50%);
    text-align: center;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.intro-container:before {
    content: '';
    position: absolute;
    top: 80%;
    left: -10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
}

.text span {
    opacity: 0;
 }
 .text span.revealed {
    opacity: 1;
 }

/*Background*/

#top-half {
    padding-left: 0;
    margin-left: 0;
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    box-sizing: border-box;
}

.h2 {
    margin: 5;
    padding-left: 50px;
}


/*Logout button*/
#logout {
    position: absolute;
    right: 3%;
    top: 10px;
    width: 20%
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 80px;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    background-color: red;
}

/*LFSR*/
.LFSRDifficulty {
    position: absolute;
    top: 75%;
    right: 73%;
}

#GoToLFSR {
    position: relative;
    width: 100px;
    height: 50px;
    bottom: 10%;
}

.LFSRPopUp{
    position: absolute;
    box-shadow: 5px 5px 5px grey;
    width: 400px;
    background-color: white;
    border-radius: 6px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: dashed 3px #48c7dbac;
}

.open-LFSRPopUp{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1;
}

.LFSRButton{
    position: absolute;
    width: 200px;
    height: 175px;
    left: 15%;
    top: 50%;
}

/*CBC*/
#GoToCBC {
    position: relative;
    width: 100px;
    height: 50px;
    bottom: 10%;
}

.CBCPopUp{
    position: absolute;
    box-shadow: 5px 5px 5px grey;
    width: 400px;
    background-color: white;
    border-radius: 6px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: dashed 3px #48c7dbac;
}

.open-CBCPopUp{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1;
}

.CBCButton{
    position: absolute;
    width:200px;
    height: 175px;
    left: 42%;
    top: 50%;
}

.CBCDifficulty {
    position: absolute;
    top: 75%;
    right: 43%;
}

.AES {
    position: absolute;
    width: 50px; 
    height: 50px;
    background: transparent;
    border: transparent;
    z-index: 100;
}

.AES:hover{
    background: transparent;
}

.AESPopUp{
    position: absolute;
    box-shadow: 5px 5px 5px grey;
    width: 400px;
    background-color: white;
    border-radius: 6px;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: dashed 3px #48c7dbac;
}

.open-AESPopUp{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1;
}

/*quiz*/
#GoToQuiz {
    position: relative;
    width: 100px;
    height: 50px;
    bottom: 10%;
}

.QuizPopUp{
    position: absolute;
    box-shadow: 5px 5px 5px grey;
    width: 400px;
    background-color: white;
    border-radius: 6px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: dashed 3px #48c7dbac;
}

.open-QuizPopUp{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1;
}

.QuizButton{
    position: absolute;
    width:200px;
    height: 175px;
    left: 69%;
    top: 50%;
}

.leaderboard {
    display: flex;
    flex-direction: column; /* Stack the leaderboard entries vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

/*LFSR Animation*/

canvas {
    position: absolute;
    top: 55px;
    display: block;
}

.input-container {
    position: absolute;
    top: 80%;
    left: 30%;
    width: 500px;
    transform: translateX(-50%);
    text-align: center;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.input-container input {
    padding: 5px;
    font-size: 16px;
    width: 200px;
    text-align: center;
}

.input-container button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.results {
    position: absolute;
    right: 50px;
    top: 175px;
    width: 200px;
    height: 50px;
    padding: 80px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
}

#animateButton {
    position:absolute;
    top: 74%;
    right: 100px;
    width: 200px;
}

#animateButton:hover {
    background-color: #0056b3;
}

#back {
    position: absolute;
    right: 10%;
    top: 10px;
    width: 20%;
}

.Hint{
    position: absolute;
    transform: translate(675px, 440px);
    width: 150px; 
    height: 150px;
    background: transparent;
    border: transparent;
}

.Hint:hover{
    background: transparent;
}

.hintcontainer {
    position: absolute;
    top: 85%;
    left: 80%;
    width: 28%;
    transform: translateX(-50%);
    text-align: center;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.hintcontainer:before {
    content: '';
    position: absolute;
    top: 30%;
    left: -10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
}


/*Universal*/

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.disabled {
    pointer-events: none;
  }

/* Background */
.background {
    background-color: #2fb79c7c;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
}

/* white text */
.whitetext {
    font-family: Helvetica;
    color: white;
    font-size: 35px;
}
/* blacktext */
.blacktext {
    font-family: Helvetica;
    color: black;
    font-size: 20px;
}

/* gradient text */
.gradienttext {
    position: relative;
    font-family: Helvetica;
    background: #48c7dbf4;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Remove footer */
page-footer-wrapper {
    visibility: hidden;
}  

/* Input Field Focus */
input:focus {
    border-color: #007BFF;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.3);
    outline: none;
}

/* Buttons */

button {
    width: 50;
    padding: 12px;
    background: #48c7dbac;
    color: black;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}

/* Paragraphs & Links */
p {
    margin: 10px 0;
}

/* Hide Elements */
.hidden {
    display: none;
}

/*Quiz*/

.quiz-container { 
    position: absolute;
    top: 20%;
    left: 50%;
    width: 500px;
    transform: translateX(-50%);
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.options button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
  }

.question { 
    font-weight: bold; 
}

/* Mobile Responsive Design */
/*@media screen and (max-width: 400px) {
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: 768px) {
    /* Styles for desktop view */
    /*body {
        font-size: 16px;
    }
}
